@import '~node_modules/modern-normalize/modern-normalize.css';

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 16px;
}

.photo-card {
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
}

.photo-card img {
  width: 100%;
  height: auto;
  display: block;
}

.info {
  padding: 10px;
  background: #f0f0f0;
}

.info-item {
  margin: 5px 0;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 10px;
}

.search-form input[type='text'] {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-form button {
  padding: 10px 20px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-form button:hover {
  background-color: #4cae4c;
}

.search-form input[type='text']:focus {
  border-color: #66afe9;
  outline: none;
}

.search-form button:focus {
  outline: none;
}
